
@import "../../app.component.scss";
.menu-left{
     width: 260px;
     height: 100vh;
}
.relative{
    height: 100vh!important;
}
.menu_content{
    width: 100%;
    height: 100%;
}

@include max(480){
    .menu_sub{
        display: block;
    }
}
.menu_sub{
    display: none;
}
.p-panelmenu{
    width: 100%!important;
}