<div class="layout-sidebar shadow-4">
    <a class="app-logo">
        <img src="../../../assets/logo.png" alt="" class="logo">
    </a>
    <ul class="layout-menu p-0 m-0">
        <li class="item" *ngFor="let menu of items; let i = index">
            <a class="item_content {{ i == 1 ? 'active':'' }}" (click)="handleSubMenu(menu.idsub, i)">
                <i class="{{ menu.icon }} icon_custom"></i>
                <span class="label_menu">{{ menu.label }}</span>
            </a>
            <ul *ngIf="menu.children" class="layout-menu-child p-0 m-0" id="{{ menu.idsub }}">
                <li class="item-child" *ngFor="let menu_sub of menu.children">
                    <a class="item_content">
                        <i class="{{ menu.icon }} icon_custom"></i>
                        <span class="label_menu">{{ menu_sub.label }}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
