<p-sidebar [(visible)]="display">
    Content
</p-sidebar>
<p-button type="text" (click)="show()" icon="pi pi-plus" class="menu_sub"></p-button>
<div class="card menu-left">
    <div class="card-container yellow-container">
        <perfect-scrollbar>
            <div class="relative bg-bluegray-800">
                <div class="px-4 py-3 w-full font-bold text-white text-5xl text-center">
<!--                    COMICAPP-->
                </div>
                <div class="absolute surface-overlay mt-2 line-height-3 menu_content bg-bluegray-800">

                    <nav class="menu">
                        <ul class="parent_menu">
                            <ng-container *ngFor="let menu of items;let i = index">
                                <ng-container *ngIf="!menu.children">
                                    <li [routerLink]="['{{ menu.routerLink }}']" routerLinkActive="is-active" class="cursor-pointer"><span class="{{ menu.icon }}"></span>{{ menu.label }}</li>
                                </ng-container>
                                <ng-container *ngIf="menu.children" >
                                    <p-accordion expandIcon="{{ menu.icon }}" [(selected)]="activeState[i]">
                                        <p-accordionTab header="{{ menu.label }}">
                                            <div class="sub_menu" *ngFor="let submenu of menu.children">
                                                <li class="nav_link cursor-pointer" [routerLink]="['{{ submenu.routerLink }}']" routerLinkActive="is-active"><span class="{{ menu.icon }}"></span>{{ submenu.label }}</li>
                                            </div>
                                        </p-accordionTab>
                                    </p-accordion>
                                </ng-container>
                            </ng-container>
                        </ul>
                    </nav>
                </div>

            </div>
        </perfect-scrollbar>
    </div>
</div>
