<app-navbar></app-navbar>
<div class="layout-container m-auto">
    <div class="grid">
        <div class="col-12 md:col-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-12 md:col-4">
            <!-- <p-virtualScroller [value]="cars" scrollHeight="500px" [itemSize]="150">
                <ng-template pTemplate="item" let-car>
                    Car content
                </ng-template>
            </p-virtualScroller> -->
        </div>
    </div>

</div>
<app-footer></app-footer>
