<div class="w-100 p-3">
    <div class="col-12">
        <div class="card">
            <div class="flex justify-content-between align-items-center">
                <div class="col">
                    <h1>{{ title }}</h1>
                    <p>{{ title_list }}</p>
                </div>
                <div class="col text-right">
                    <button (click)="confirm()" pButton icon="pi pi-check" label="Confirm"></button>
                </div>
            </div>
            <p-table styleClass="p-datatable-gridlines" [value]="customers" [lazy]="true"
                (onLazyLoad)="loadCustomers($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
                [loading]="loading">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button pButton label="Xóa bộ lọc" class="p-button-outlined" icon="pi pi-filter-slash"></button>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Tìm kiếm tên" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Company</th>
                        <th>Representative</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>{{customer.name}}</td>
                        <td>{{customer.country.name}}</td>
                        <td>{{customer.company}}</td>
                        <td>{{customer.representative.name}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<app-form-create-edit-category></app-form-create-edit-category>
