<div class="w-100 p-3">
    <div class="col-12">
        <div class="card">
            <div class="flex justify-content-between align-items-center">
                <div class="col">
                    <h1>{{ title }}</h1>
                    <p>{{ title_list }}</p>
                </div>
                <div class="col text-right">
                    <button (click)="showForm()" pButton label="Thêm"></button>
                </div>
            </div>
            <p-table [value]="category" [paginator]="true" [totalRecords]="totalRecords" [rows]="10"
                [showCurrentPageReport]="true" styleClass="p-datatable-gridlines" [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr class="text-center">
                        <th>STT</th>
                        <th>Tên danh mục</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category let-rowIndex="rowIndex">
                    <tr class="text-center">
                        <td>{{rowIndex + 1}}</td>
                        <td>{{category.category_name}}</td>
                        <td>{{category.invalid == 1 ?'Hiện':'Ẩn'}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                (click)="showForm(category)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="confirm($event, category.id)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-confirmPopup></p-confirmPopup>
