<div class="layout-breadcrumb-container md:pl-3 md:pt-1 md:pb-1 border-bottom-1 border-gray-300 mb-3">
    <div class="breadcrumb">
        <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div class="nav-bar">
        <div class="search-all">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" id="inputtext-left" class="pt-2 pb-2" pInputText placeholder="Tìm kiếm">
            </span>
        </div>
        <div class="profile_setting">
            <i class="pi pi-user text-base cursor-pointer"></i>
            <!-- <i class="pi pi-fw pi-cog"></i> -->
        </div>
    </div>
</div>
