.layout-breadcrumb-container{
    display: flex;
    justify-content: space-between;
    .nav-bar{
        display: flex;
        align-items: center;
        .profile_setting{
            margin: 0 20px;
        }
    }
}

::ng-deep {
    .p-breadcrumb {
        background: transparent;
        border: none;
    }
}
.toolbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
