<div class="toolbar border-bottom-1 border-black-alpha-30 px-1 bg-white">
    <div class="left">
        <!-- <ng-container *ngIf="isMobile"> -->
            <i class="pi pi-bars ml-2" (click)="handelMenu()"></i>
        <!-- </ng-container> -->
    </div>
    <div class="right">
         <span class="p-input-icon-right">
             <i class="pi pi-search"></i>
             <input type="text" pInputText/>
         </span>
        <button type="button" pButton icon="pi pi-cog" (click)="menu.toggle($event)" class="ml-3"></button>
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
</div>
