<div class="p-3">
    <div class="grid w-full">
        <div class="col-12 md:col-6 lg:col-3">
            <p-card header="Simple Card" [style]="{'width': '100%', 'margin-bottom': '2em'}">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <p-card header="Simple Card" [style]="{'width': '100%', 'margin-bottom': '2em'}">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <p-card header="Simple Card" [style]="{'width': '100%', 'margin-bottom': '2em'}">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <p-card header="Simple Card" [style]="{'width': '100%', 'margin-bottom': '2em'}">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col-12 md:col-8 lg:col-8 mb-5">
            <p-chart type="line" [data]="data" [options]="options"></p-chart>
        </div>
        <div class="col-12 md:col-4 lg:col-4">
            <p-card header="Simple Card" [style]="{'width': '100%', 'margin-bottom': '2em'}">
                <p-timeline [value]="events">
                    <ng-template pTemplate="content" let-event>
                        {{event.status}}
                    </ng-template>
                </p-timeline>
            </p-card>
        </div>
        <div class="col-12 md:col-8 lg:col-8">
            <p-card header="Simple Card" [style]="{'width': '100%', 'margin-bottom': '2em'}">
                <p-timeline [value]="events">
                    <ng-template pTemplate="content" let-event>
                        {{event.status}}
                    </ng-template>
                </p-timeline>
            </p-card>
        </div>
        <div class="col-12 md:col-4 lg:col-4">
            <p-card header="Simple Card" [style]="{'width': '100%', 'margin-bottom': '2em'}">
                <p-timeline [value]="events">
                    <ng-template pTemplate="content" let-event>
                        {{event.status}}
                    </ng-template>
                </p-timeline>
            </p-card>
        </div>
    </div>
</div>