<div class="grid">
    <div class="col-12 md:col-8">
        <div class="card">
            <p-divider align="left" type="dashed">
                <b class="text-xl">Truyện mới</b>
            </p-divider>
            <div class="card-container purple-container overflow-hidden">
                <div class="grid">
                    <div class="md:col-3">
                        <div
                            class="flex flex-wrap overflow-hidden align-items-center box shadow-2 border-round justify-content-center box font-bold">
                            <div class="image mb-3">
                                <img src="https://i.pinimg.com/236x/d3/6a/0e/d36a0ebc74152f77b57a2e5ccb022330.jpg"
                                    class="w-full h-full" alt="">
                            </div>
                            <div class="chapter_time text-black-alpha-60 font-bold mb-3 px-2">
                                <div class="chapter">
                                    <p-badge value="chappter 2"></p-badge>
                                </div>
                                <div class="time text-black-alpha-60 font-bold">4 giờ trước</div>
                            </div>
                        </div>
                    </div>
                    <div class="md:col-3">
                        <div
                            class="flex flex-wrap overflow-hidden align-items-center box shadow-2 border-round justify-content-center box font-bold">
                            <div class="image mb-3">
                                <img src="https://i.pinimg.com/236x/d3/6a/0e/d36a0ebc74152f77b57a2e5ccb022330.jpg"
                                    class="w-full h-full" alt="">
                            </div>
                            <div class="chapter_time text-black-alpha-60 font-bold mb-3 px-2">
                                <div class="chapter">
                                    <p-badge value="chappter 2"></p-badge>
                                </div>
                                <div class="time text-black-alpha-60 font-bold">4 giờ trước</div>
                            </div>
                        </div>
                    </div>
                    <div class="md:col-3">
                        <div
                            class="flex flex-wrap overflow-hidden align-items-center box shadow-2 border-round justify-content-center box font-bold">
                            <div class="image mb-3">
                                <img src="https://i.pinimg.com/236x/d3/6a/0e/d36a0ebc74152f77b57a2e5ccb022330.jpg"
                                    class="w-full h-full" alt="">
                            </div>
                            <div class="chapter_time text-black-alpha-60 font-bold mb-3 px-2">
                                <div class="chapter">
                                    <p-badge value="chappter 2"></p-badge>
                                </div>
                                <div class="time text-black-alpha-60 font-bold">4 giờ trước</div>
                            </div>
                        </div>
                    </div>
                    <div class="md:col-3">
                        <div
                            class="flex flex-wrap overflow-hidden align-items-center box shadow-2 border-round justify-content-center box font-bold">
                            <div class="image mb-3">
                                <img src="https://i.pinimg.com/236x/d3/6a/0e/d36a0ebc74152f77b57a2e5ccb022330.jpg"
                                    class="w-full h-full" alt="">
                            </div>
                            <div class="chapter_time text-black-alpha-60 font-bold mb-3 px-2">
                                <div class="chapter">
                                    <p-badge value="chappter 2"></p-badge>
                                </div>
                                <div class="time text-black-alpha-60 font-bold">4 giờ trước</div>
                            </div>
                        </div>
                    </div>
                    <div class="md:col-3">
                        <div
                            class="flex flex-wrap overflow-hidden align-items-center box shadow-2 border-round justify-content-center box font-bold">
                            <div class="image mb-3">
                                <img src="https://i.pinimg.com/236x/d3/6a/0e/d36a0ebc74152f77b57a2e5ccb022330.jpg"
                                    class="w-full h-full" alt="">
                            </div>
                            <div class="chapter_time text-black-alpha-60 font-bold mb-3 px-2">
                                <div class="chapter">
                                    <p-badge value="chappter 2"></p-badge>
                                </div>
                                <div class="time text-black-alpha-60 font-bold">4 giờ trước</div>
                            </div>
                        </div>
                    </div>
                    <div class="md:col-3">
                        <div
                            class="flex flex-wrap overflow-hidden align-items-center box shadow-2 border-round justify-content-center box font-bold">
                            <div class="image mb-3">
                                <img src="https://i.pinimg.com/236x/d3/6a/0e/d36a0ebc74152f77b57a2e5ccb022330.jpg"
                                    class="w-full h-full" alt="">
                            </div>
                            <div class="chapter_time text-black-alpha-60 font-bold mb-3 px-2">
                                <div class="chapter">
                                    <p-badge value="chappter 2"></p-badge>
                                </div>
                                <div class="time text-black-alpha-60 font-bold">4 giờ trước</div>
                            </div>
                        </div>
                    </div>
                    <div class="md:col-3">
                        <div
                            class="flex flex-wrap overflow-hidden align-items-center box shadow-2 border-round justify-content-center box font-bold">
                            <div class="image mb-3">
                                <img src="https://i.pinimg.com/236x/d3/6a/0e/d36a0ebc74152f77b57a2e5ccb022330.jpg"
                                    class="w-full h-full" alt="">
                            </div>
                            <div class="chapter_time text-black-alpha-60 font-bold mb-3 px-2">
                                <div class="chapter">
                                    <p-badge value="chappter 2"></p-badge>
                                </div>
                                <div class="time text-black-alpha-60 font-bold">4 giờ trước</div>
                            </div>
                        </div>
                    </div>
                    <div class="md:col-3">
                        <div
                            class="flex flex-wrap overflow-hidden align-items-center box shadow-2 border-round justify-content-center box font-bold">
                            <div class="image mb-3">
                                <img src="https://i.pinimg.com/236x/d3/6a/0e/d36a0ebc74152f77b57a2e5ccb022330.jpg"
                                    class="w-full h-full" alt="">
                            </div>
                            <div class="chapter_time text-black-alpha-60 font-bold mb-3 px-2">
                                <div class="chapter">
                                    <p-badge value="chappter 2"></p-badge>
                                </div>
                                <div class="time text-black-alpha-60 font-bold text-black-alpha-60">4 giờ trước</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
    </div>
    <div class="col-12 md:col-4 mt-4">
        <p-tabView>
            <p-tabPanel header="Header 1">
                <div class="card">
                    <p-table [value]="products" responsiveLayout="scroll" [scrollable]="true" 
                    [virtualScroll]="true" [virtualRowHeight]="40"
                    scrollHeight="500px">
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td style="flex-basis:20%;padding-right: 0;padding-left: 0;align-items: unset;"><img src="{{product.image}}" [alt]="product.title"
                                     width="100" class="shadow-4" /></td>
                                <td style="flex-basis:80%;align-items: unset;">{{product.title}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Header 2">
                
            </p-tabPanel>
            <p-tabPanel header="Header 3">
            </p-tabPanel>
        </p-tabView>
    </div>
</div>