@import '../../app.component.scss';
// .item-card{
//     width: 22%;
//     @include max(480){
//         width: 100%;
//     }
// }
.image{
    width: 100%;
    height: 200px;
    @include max(480){
        height: 300px;
    }
}
.chapter_time{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
