<div class="container">
    <div class="layout-main">
        <div class="layout-main_sidebar">
            <app-sidebar-admin></app-sidebar-admin>
        </div>
        <perfect-scrollbar class="layout-main_content">
            <!-- <div>Scrollable content</div> -->

        <!-- <div> -->
            <app-breadcrumb></app-breadcrumb>
            <router-outlet></router-outlet>
            <div class="footer-fix">
                <div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
                    <!-- <div class="font-bold mr-8">🔥 Hot Deals!</div> -->
                    <div class="align-items-center hidden lg:flex">
                        <span class="line-height-3">Bản quyền thuộc về comicapp</span>
                    </div>
                    <a class="flex align-items-center ml-2 mr-8">
                        <a class="text-white" href="#"><span class="underline font-bold">Liên hệ</span></a>
                    </a>
                    <!-- <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem">
                        <i class="pi pi-times"></i>
                    </a> -->
                </div>
            </div>

        <!-- </div> -->
        </perfect-scrollbar>
    </div>
</div>
<!-- <app-footer></app-footer>
{{ title }} -->
