<nav class="w-full bg-yellow-500 h-5rem my_menu">
    <div class="menu-container">
        <div class="menu">
            <ul class="menu_context">
                <li><a href="">a</a></li>
                <li><a href="">b</a></li>
                <li><a href="">c</a></li>
                <li><a href="">e</a></li>
                <li><a href="">f</a></li>
            </ul>
            <div class="profile_search_filter">
                <div class="search">
                    <span class="p-input-icon-right w-full">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="Search">
                    </span>
                </div>
                <!-- <div class="profile">
                    <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info p-button-outlined"></button>
                </div> -->
                <div class="login">
                    <button pButton pRipple type="button" label="Đăng nhập" class="p-button-raised p-button-success text-base w-full"></button>
                </div>
            </div>
        </div>
    </div>
</nav>
