.my_menu{
    display: flex;
    align-items: center;
}
.menu-container{
    width: 80%;
    margin: 0 auto;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_context{
        width: 70%;
        height: 100%;
        li{
            display: inline-block;
            vertical-align: middle;
            a{
                cursor: pointer;
                text-decoration: none;
                display: block;
            }
        }
    }
    .profile_search_filter{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .search{
            width: 75%;
        }
        .profile{
            width: 20%;
        }
        .login{
            width: 20%;
        }
    }
}

